Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.micronaut/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath

# Terraform
.terraform/
terrafrom/terraform.tfstate
terrafrom/terraform.tfstate.backup
terrafrom/.terraform.lock.hcl
terraform-provider-*.exe
